.cg-highlight-button {
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s ease-in;
}

.cg-highlight-button:hover {
  background-color: #add8e6;
}

.cg-tooltip {
  position: absolute;
  max-width: 300px;
  max-height: 400px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cg-font {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.cg-select-label {
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 1px;
}

.cg-select {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove default styling for Safari */
  -moz-appearance: none; /* Remove default styling for Firefox */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px; /* Add padding for custom arrow */
  font-size: 16px;
  color: #333;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  margin: 6px 0px;
  background-size: 10px;
}

.cg-submit-button {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove default styling for Safari */
  -moz-appearance: none; /* Remove default styling for Firefox */
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 0px;
  transition-duration: 0.4s;
}

.cg-select:focus {
  outline: none;
  border-color: #007bff;
}

.cg-select option {
  background-color: #fff;
  color: #333;
}

.cg-submit-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.cg-submit-button:focus {
  outline: none;
  border-color: #0056b3;
}

.cg-course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cg-course-semesters {
  margin-left: auto;
  text-align: right;
  padding-right: 15px;
  color: gray;
}

.cg-no-vmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cg-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.cg-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cg-button-clear {
  background-color: #c7d0d5;
}

.cg-button-red {
  background-color: #ba271b;
}

.cg-button-yellow {
  background-color: #f3b047;
}

.cg-button-green {
  background-color: #479c43;
}

.cg-highlight-error {
  background-color: #f28f68 !important;
}

.cg-highlight-red {
  background-color: #ed614b;
}

.cg-highlight-yellow {
  background-color: #f4cc53;
}

.cg-highlight-green {
  background-color: #70b56c;
}

.cg-icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
}
