.cg-highlight-button {
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s ease-in;
}

.cg-highlight-button:hover {
  background-color: lightblue;
}

.cg-clicked-highlight {
  background-color: rgb(133, 204, 227);
  color: white;
}

.cg-tooltip {
  position: absolute;
  max-width: 300px;
  max-height: 400px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cg-body {
  background-color: transparent; /* Ensure the body background is transparent */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.cg-container {
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    135deg,
    #bb0000,
    #666666
  ); /* Scarlet and gray gradient */
  color: white; /* Ensure text is readable on the gradient background */
}

#cg-semester-select {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove default styling for Safari */
  -moz-appearance: none; /* Remove default styling for Firefox */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px; /* Add padding for custom arrow */
  font-size: 16px;
  color: #333;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

#cg-semester-select:focus {
  outline: none;
  border-color: #007bff;
}

#cg-semester-select option {
  background-color: #fff;
  color: #333;
}

.cg-course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cg-course-semesters {
  margin-left: auto;
  text-align: right;
  padding-right: 15px;
  color: gray;
}

.cg-no-vmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}
